body {
  font-family: 'Montserrat', sans-serif;
  background-color: #efefef;
  color: #4b4b5a;
  margin: 0;
}

.container {
  display: flex;
  width: 1200px;
  padding: 40px;
  margin: 0 auto;

  @include tablet {
    display: flex;
    flex-direction: row;
  }
}
